@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/Pretendard-Medium.woff);
    src: url(/assets/fonts/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/Pretendard-Bold.woff);
    src: url(/assets/fonts/Pretendard-Bold.woff) format("woff")
}