p{
    color: $red;
}

@mixin boldBiggest {
    font-size: 24px;
    line-height: 135%;
    font-weight: 700;
}
.boldBiggest{
    @include boldBiggest;
}

@mixin boldBigger{
    font-size: 24px;
    line-height: 135%;
    font-weight: 700;
}
.boldBigger{
    @include boldBigger;
}

@mixin boldBigP{
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
}
.boldBigP{
    @include boldBigP;
}

@mixin boldP{
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.boldP{
    @include boldP;
}

@mixin medSmallP{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
}
.medSmallP{
    @include medSmallP;
}